/*==========================================

  GENERAL

==========================================*/
html {
    font-size: 62.5%;
    min-width: 300px;
}

body {
    background-color: $body-bg;
    color: white;
    font-family: $body-font;
    font-size: 2rem;
    overflow: hidden;

    &.game-started {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

main {
    padding-top: 7rem;
    padding-bottom: 1rem;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
}

h3 {
    margin-bottom: 3rem;
}

/*==========================================

  HEADER

==========================================*/
.main-header {
    z-index: 10;
    padding: 10px 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $header-bg;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    h1 {
        padding: 30px 0;

        span {
            display: inline-block;
            margin-right: 10px;
            font-size: 3rem;
            animation: fade-in-left 0.5s $cubic both 0.5s;

            .game-started & {
                animation: scale-text 1s $cubic both 0.2s;
            }

            @include bp(s) {
                font-size: 6rem;
            }

            &:first-child {
                font-family: $rock;
            }

            &:nth-child(2) {
                animation-delay: 0.7s;
                font-family: $paper;


                .game-started & {
                    animation-delay: 0.2s;
                }
            }

            &:last-child {
                animation-delay: 0.9s;
                font-family: $scissors;

                .game-started & {
                    animation-delay: 0.2s;
                }
            }

        }
    }

    .game-started & {
        animation: headersize 0.5s ease-out both 0.5s;

        h1 {
            padding: 0;
        }
    }

}

.intro {
    animation: fade-in-left 0.2s ease-out both 1.3s;
    margin-bottom: 3rem;

    .game-started & {
        animation: fade-out-right 0.5s both 1;
    }
}

/*==========================================

    STARTER SCREENS

==========================================*/
.starter-screens {
    height: 430px;
    position: relative;
    width: 100%;

    .button {
        background-color: $purple;
        color: $dark-grey;
        margin-bottom: 10px;
    }

    .game-started & {
        animation: fade-out-right 0.5s both 0.2s;
    }
}

.starter-screen {
    width: 100%;
    text-align: center;
    transform: translateX(-100%);
    transition: $transition;

    &.animate-in {
        animation: fade-in-left 1s $cubic both;
    }

    ul {

        @include bp(m) {
            display: flex;
            justify-content: space-between;
        }

    }

    li {
        font-family: $scissors;
        font-size: 3rem;

        @include bp(m) {
            font-size: 5rem;
        }
    }
}

.start {
    animation: fade-in-left 1s $cubic both 1.4s;
    text-align: left;
}

.choose-character,
.choose-rival {

    li {
        @extend .character;
        cursor: pointer;
        transition: $transition;
        width: 10rem;
        height: 10rem;

        @include bp(m) {
            width: 15rem;
            height: 15rem;

            &:hover {
                border-color: $white;
                background-color: $duck-blue;
                transition: $transition;
            }

        }
    }

    span {
        @include hide-text();
    }

}

.player-character,
.computer-character {
    @extend .character;
    width: 7rem;
    height: 7rem;
    border-color: $border-dark;

    @include bp(m) {
        width: 10rem;
        height: 10rem;
    }
}

.player-character,
.computer-character,
.choose-character li,
.choose-rival li,
.player-character li,
.computer-character li {

    background-position: center;
    background-size: 70%;

}

/*==========================================

  ARENA/PLAY

==========================================*/
.arena {
    width: 100%;
    height: 36rem;
    background-color: $arena-bg;
    overflow: hidden;
    position: relative;

    h3 {
        text-align: center;
        width: 100%;
    }

    @include bp($border-radius-width) {
        border-radius: 0 0 1rem 1rem;
    }
}

.weapon,
.result {
    z-index: 3;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color: $dark-grey;
    justify-content: center;
    transition: $cubic-transition;
}

.result {
    top: -100%;

    .weapon-chosen & {
        top: 0;
        transition: 1s $cubic all 3s;
    }

    h3 {
        font-size: 3rem;
    }

}

.weapon {
    bottom: 0;
    background-color: $purple;
    transition-delay: 0.2s;

    .weapon-inner {
        width: 100%;
    }

    .weapon-chosen & {
        bottom: -100%;
    }

    h3 {
        font-size: 2.5rem;
        margin-bottom: 4rem;
    }

    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    li {
        @extend .character;
        width: 24vw;
        height: 24vw;
        max-width: 200px;
        max-height: 200px;
        cursor: pointer;
        transition: $transition;
        margin: 1rem;
        background-size: 70%;

        .game-started & {
            animation: bg 0.3s ease-out both 1s;

            &:nth-child(2) {
                animation-delay: 1.2s
            }

            &:nth-child(3) {
                animation-delay: 1.4s
            }
        }

        @include bp(m) {
            margin: 0 4rem;

            &:hover {
                background-color: $duck-blue;
                border-color: $white;
                transition: $transition;
            }

        }

    }

    span {
        @include hide-text();
    }

}

.computer-chip,
.player-chip {
    position: absolute;
    width: 100%;
    text-align: center;

    h3 {
        margin-bottom: 2rem;

        @include bp(m) {
            font-size: 2.5rem;
        }
    }

    span {
        @include hide-text();
    }

    @include bp(m) {
        width: 50%;
        transform: translateY(-50%);
    }

}

.computer-chip {
    right: -100%;
    transition: $cubic-transition;
    bottom: 2rem;

    @include bp(m) {
        top: 50%;
        bottom: auto;
    }

    .weapon-chosen & {
        right: 0;
        transition: 0.8s $cubic all 1.5s;
    }
}

.player-chip {
    left: -100%;
    transition: $cubic-transition;
    top: 2rem;

    @include bp(m) {
        top: 50%;
    }

    .weapon-chosen & {
        left: 0;
        transition: 0.8s $cubic all 0.6s;
    }
}

.computer-choice-icon,
.player-choice-icon {
    @extend .character;
    width: 10rem;
    height: 10rem;
    display: inline-block;
    background-position: bottom -0.5rem center;
    background-size: 60%;

    @include bp(l) {
        width: 20rem;
        height: 20rem;
    }
}

/*==========================================

  PLAYERS

==========================================*/
.players {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $dark-grey;

    span {
        font-size: 2rem;
        color: $dark-grey;
    }
}

.player-info {
    text-align: center;
    padding: 0 20px;
}

.round-wrap {
    padding: 20px;
    border-bottom: 1px solid $white;
    background-color: $dark-grey;

    @include bp($border-radius-width) {
        border-radius: 1rem 1rem 0 0;
    }

}

/*==========================================

  END SCREEN

==========================================*/
.end-screen {
    position: fixed;
    right: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: $cubic-transition;
    display: flex;
    align-items: center;
    z-index: 20;
    text-align: center;
    color: $dark-grey;

    h2 {
        margin-bottom: 1rem;
        font-size: 5rem;
    }

    h3 {
        margin-bottom: 2.5rem;
    }

    p {
        margin-bottom: 3rem;
        font-size: 2rem;
    }

    .end-game & {
        right: 0;
        transition: 1s $cubic all 5s;
    }
}

.rounds-end-screen {
    margin-bottom: 5rem;

    ul {

        @include bp(m) {
            display: flex;
            justify-content: space-around;
        }

    }

    li {
        margin-bottom: 1rem;
    }

}
